<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <!-- 修改：jdbc jar包 -->
  <classPathEntry location="C:/Program Files (x86)/MySQL/MySQL Tools for 5.0/java/lib/mysql-connector-java-5.0.4-bin.jar" />
   <!-- <classPathEntry location="/Users/XJD/360yunpan/repo/maven_repository/mysql/mysql-connector-java/5.1.21/mysql-connector-java-5.1.21.jar"/> -->
  <!-- 生成的class所在的根路径 -->
  <classPathEntry location="target/classes" />

  <context id="common" targetRuntime="MyBatis3">
    <plugin type="org.mybatis.generator.enhance.MysqlPaginationPlugin"></plugin>

    <commentGenerator>
      <property name="suppressAllComments" value="true" />
      <!-- <property name="suppressDate" value="true" /> -->
    </commentGenerator>

    <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/ct"
      userId="root" password="root" />

    <javaTypeResolver>
      <property name="forceBigDecimals" value="false" />
    </javaTypeResolver>

    <javaModelGenerator targetPackage="com.xjd.ct.dal.dos" targetProject="MAVEN">
      <property name="enableSubPackages" value="true" />
      <property name="constructorBased" value="false" />
      <property name="rootClass" value="com.xjd.ct.dal.dos.BaseDo" />
    </javaModelGenerator>

    <sqlMapGenerator targetPackage="com.xjd.ct.dal.map" targetProject="MAVEN">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>

    <javaClientGenerator type="XMLMAPPER" targetPackage="com.xjd.ct.dal.map" targetProject="MAVEN">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>

    <!-- <table tableName="T_AGE_BRACKET" domainObjectName="AgeBracketModel" />
    <table tableName="T_BIZ_ARTICLE" domainObjectName="ArticleModel" />
    <table tableName="T_BIZ_BANNER" domainObjectName="BannerModel" />
    <table tableName="T_BIZ_PUBLISH" domainObjectName="PublishModel" />
    <table tableName="T_BIZ_RECOMMEND" domainObjectName="RecommendModel" />
    <table tableName="T_BIZ_TOPIC" domainObjectName="TopicModel" />
    <table tableName="T_GW_APP_VERSION" domainObjectName="AppVersionModel" />
    <table tableName="T_GW_FEEDBACK" domainObjectName="FeedbackModel" />
    <table tableName="T_GW_SERVICE" domainObjectName="ServiceModel" />
    <table tableName="T_GW_SERVICE_LOG" domainObjectName="ServiceLogModel" />
    <table tableName="T_MSG_INFORM" domainObjectName="MsgInformModel" />
    <table tableName="T_OBJECT" domainObjectName="ObjectModel" />
    <table tableName="T_OBJECT_COMMENT" domainObjectName="ObjectCommentModel" />
    <table tableName="T_OBJECT_COMMENT_LIKE" domainObjectName="ObjectCommentLikeModel" />
    <table tableName="T_OBJECT_FAVOR" domainObjectName="ObjectFavorModel" />
    <table tableName="T_OBJECT_LIKE" domainObjectName="ObjectLikeModel" />
    <table tableName="T_OBJECT_TAG" domainObjectName="ObjectTagModel" />
    <table tableName="T_OBJECT_TAG_RS" domainObjectName="ObjectTagRsModel" />
    <table tableName="T_OBJECT_VOTE" domainObjectName="ObjectVoteModel" />
    <table tableName="T_OBJECT_VOTE_OPT" domainObjectName="ObjectVoteOptModel" />
    <table tableName="T_REPORT" domainObjectName="ReportModel" />
    <table tableName="T_RESOURCE" domainObjectName="ResourceModel" />
    <table tableName="T_SUBSCRIBE" domainObjectName="SubscribeModel" />
    <table tableName="T_TOKEN" domainObjectName="TokenModel" />
    <table tableName="T_USER" domainObjectName="UserModel" />
    <table tableName="T_USER_AGE_BRACKET_RES" domainObjectName="UserAgeBracketResModel" />
    <table tableName="T_USER_BABY" domainObjectName="UserBabyModel" />
    <table tableName="T_USER_BIND_ACCOUNT" domainObjectName="UserBindAccountModel" />
    <table tableName="T_USER_IDOL" domainObjectName="UserIdolModel" />
    <table tableName="T_USER_INFO" domainObjectName="UserInfoModel" />
    <table tableName="T_USER_RESOURCE_RS" domainObjectName="UserResourceRsModel" />
    <table tableName="T_USER_SUBSCRIBE" domainObjectName="UserSubscribeModel" />
    <table tableName="T_USER_SUMMARY" domainObjectName="UserSummaryModel" /> -->
    <table tableName="T_OBJECT_RESOURCE" domainObjectName="ObjectResourceModel" />

  </context>

</generatorConfiguration>