<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjd.ct.dal.mapper.ServiceMapper" >
  <resultMap id="BaseResultMap" type="com.xjd.ct.dal.model.ServiceDo" >
    <id column="service_name" property="serviceName" jdbcType="VARCHAR" />
    <id column="service_version" property="serviceVersion" jdbcType="VARCHAR" />
    <result column="login_flag" property="loginFlag" jdbcType="CHAR" />
    <result column="maintain_flag" property="maintainFlag" jdbcType="CHAR" />
    <result column="maintain_msg" property="maintainMsg" jdbcType="VARCHAR" />
    <result column="valid_flag" property="validFlag" jdbcType="CHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    service_name, service_version, login_flag, maintain_flag, maintain_msg, valid_flag,
    add_time, upd_time
  </sql>
  <insert id="insert" parameterType="com.xjd.ct.dal.model.ServiceDo" >
    insert into t_service (service_name, service_version, login_flag,
      maintain_flag, maintain_msg, valid_flag,
      add_time, upd_time)
    values (#{serviceName,jdbcType=VARCHAR}, #{serviceVersion,jdbcType=VARCHAR}, #{loginFlag,jdbcType=CHAR},
      #{maintainFlag,jdbcType=CHAR}, #{maintainMsg,jdbcType=VARCHAR}, #{validFlag,jdbcType=CHAR},
      #{addTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xjd.ct.dal.model.ServiceDo" >
    insert into t_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceName != null" >
        service_name,
      </if>
      <if test="serviceVersion != null" >
        service_version,
      </if>
      <if test="loginFlag != null" >
        login_flag,
      </if>
      <if test="maintainFlag != null" >
        maintain_flag,
      </if>
      <if test="maintainMsg != null" >
        maintain_msg,
      </if>
      <if test="validFlag != null" >
        valid_flag,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceVersion != null" >
        #{serviceVersion,jdbcType=VARCHAR},
      </if>
      <if test="loginFlag != null" >
        #{loginFlag,jdbcType=CHAR},
      </if>
      <if test="maintainFlag != null" >
        #{maintainFlag,jdbcType=CHAR},
      </if>
      <if test="maintainMsg != null" >
        #{maintainMsg,jdbcType=VARCHAR},
      </if>
      <if test="validFlag != null" >
        #{validFlag,jdbcType=CHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="selectByServiceNameAndVersion" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_service
    where service_name = #{serviceName,jdbcType=VARCHAR}
      and service_version = #{serviceVersion,jdbcType=VARCHAR}
  </select>
</mapper>