<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjd.ct.dal.mapper.TokenMapper">
  <resultMap id="BaseResultMap" type="com.xjd.ct.dal.model.TokenDo">
    <id column="token" property="token" jdbcType="CHAR"/>
    <result column="secret_key" property="secretKey" jdbcType="CHAR"/>
    <result column="user_ip" property="userIp" jdbcType="VARCHAR"/>
    <result column="user_id" property="userId" jdbcType="CHAR"/>
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List">
    token, secret_key, user_ip, user_id, add_time, upd_time
  </sql>
  <select id="selectByToken" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from t_token
    where token = #{token,jdbcType=CHAR}
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from t_token
    where user_id = #{userId,jdbcType=CHAR}
  </select>
  <select id="selectByUserIpAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_token
    where user_ip = #{userIp,jdbcType=VARCHAR}
    and user_id = #{userId,jdbcType=CHAR}
  </select>
  <delete id="deleteByToken" parameterType="java.lang.String">
    delete from t_token
    where token = #{token,jdbcType=CHAR}
  </delete>
  <delete id="deleteByUserId" parameterType="java.lang.String">
    delete from t_token
    where user_id = #{userId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByUserIpAndUserId">
    delete from t_token
    where user_ip = #{userIp,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.xjd.ct.dal.model.TokenDo">
    insert into t_token (token, secret_key, user_ip,
      user_id, add_time, upd_time
      )
    values (#{token,jdbcType=CHAR}, #{secretKey,jdbcType=CHAR}, #{userIp,jdbcType=VARCHAR},
      #{userId,jdbcType=CHAR}, #{addTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xjd.ct.dal.model.TokenDo">
    insert into t_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="token != null">
        token,
      </if>
      <if test="secretKey != null">
        secret_key,
      </if>
      <if test="userIp != null">
        user_ip,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updTime != null">
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="token != null">
        #{token,jdbcType=CHAR},
      </if>
      <if test="secretKey != null">
        #{secretKey,jdbcType=CHAR},
      </if>
      <if test="userIp != null">
        #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByToken" parameterType="com.xjd.ct.dal.model.TokenDo">
    update t_token
    set secret_key = #{secretKey,jdbcType=CHAR},
      user_ip = #{userIp,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=CHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where token = #{token,jdbcType=CHAR}
  </update>
  <update id="updateByTokenSelective" parameterType="com.xjd.ct.dal.model.TokenDo">
    update t_token
    <set>
      <if test="secretKey != null">
        secret_key = #{secretKey,jdbcType=CHAR},
      </if>
      <if test="userIp != null">
        user_ip = #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null">
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where token = #{token,jdbcType=CHAR}
  </update>
</mapper>