<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjd.ct.dal.map.BannerModelMapper" >
  <resultMap id="BaseResultMap" type="com.xjd.ct.dal.dos.BannerModel" >
    <id column="BANNER_ID" property="bannerId" jdbcType="BIGINT" />
    <result column="BANNER_RES" property="bannerRes" jdbcType="CHAR" />
    <result column="BANNER_TYPE" property="bannerType" jdbcType="TINYINT" />
    <result column="OBJECT_TYPE" property="objectType" jdbcType="TINYINT" />
    <result column="REF_ID" property="refId" jdbcType="BIGINT" />
    <result column="BANNER_CONTENT" property="bannerContent" jdbcType="VARCHAR" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BANNER_ID, BANNER_RES, BANNER_TYPE, OBJECT_TYPE, REF_ID, BANNER_CONTENT, ADD_TIME, 
    UPD_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjd.ct.dal.dos.BannerModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BIZ_BANNER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MysqlPageSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_BIZ_BANNER
    where BANNER_ID = #{bannerId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_BIZ_BANNER
    where BANNER_ID = #{bannerId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjd.ct.dal.dos.BannerModelExample" >
    delete from T_BIZ_BANNER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjd.ct.dal.dos.BannerModel" >
    insert into T_BIZ_BANNER (BANNER_ID, BANNER_RES, BANNER_TYPE, 
      OBJECT_TYPE, REF_ID, BANNER_CONTENT, 
      ADD_TIME, UPD_TIME)
    values (#{bannerId,jdbcType=BIGINT}, #{bannerRes,jdbcType=CHAR}, #{bannerType,jdbcType=TINYINT}, 
      #{objectType,jdbcType=TINYINT}, #{refId,jdbcType=BIGINT}, #{bannerContent,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xjd.ct.dal.dos.BannerModel" >
    insert into T_BIZ_BANNER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bannerId != null" >
        BANNER_ID,
      </if>
      <if test="bannerRes != null" >
        BANNER_RES,
      </if>
      <if test="bannerType != null" >
        BANNER_TYPE,
      </if>
      <if test="objectType != null" >
        OBJECT_TYPE,
      </if>
      <if test="refId != null" >
        REF_ID,
      </if>
      <if test="bannerContent != null" >
        BANNER_CONTENT,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="updTime != null" >
        UPD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bannerId != null" >
        #{bannerId,jdbcType=BIGINT},
      </if>
      <if test="bannerRes != null" >
        #{bannerRes,jdbcType=CHAR},
      </if>
      <if test="bannerType != null" >
        #{bannerType,jdbcType=TINYINT},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=TINYINT},
      </if>
      <if test="refId != null" >
        #{refId,jdbcType=BIGINT},
      </if>
      <if test="bannerContent != null" >
        #{bannerContent,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjd.ct.dal.dos.BannerModelExample" resultType="java.lang.Integer" >
    select count(*) from T_BIZ_BANNER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BIZ_BANNER
    <set >
      <if test="record.bannerId != null" >
        BANNER_ID = #{record.bannerId,jdbcType=BIGINT},
      </if>
      <if test="record.bannerRes != null" >
        BANNER_RES = #{record.bannerRes,jdbcType=CHAR},
      </if>
      <if test="record.bannerType != null" >
        BANNER_TYPE = #{record.bannerType,jdbcType=TINYINT},
      </if>
      <if test="record.objectType != null" >
        OBJECT_TYPE = #{record.objectType,jdbcType=TINYINT},
      </if>
      <if test="record.refId != null" >
        REF_ID = #{record.refId,jdbcType=BIGINT},
      </if>
      <if test="record.bannerContent != null" >
        BANNER_CONTENT = #{record.bannerContent,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updTime != null" >
        UPD_TIME = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BIZ_BANNER
    set BANNER_ID = #{record.bannerId,jdbcType=BIGINT},
      BANNER_RES = #{record.bannerRes,jdbcType=CHAR},
      BANNER_TYPE = #{record.bannerType,jdbcType=TINYINT},
      OBJECT_TYPE = #{record.objectType,jdbcType=TINYINT},
      REF_ID = #{record.refId,jdbcType=BIGINT},
      BANNER_CONTENT = #{record.bannerContent,jdbcType=VARCHAR},
      ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      UPD_TIME = #{record.updTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjd.ct.dal.dos.BannerModel" >
    update T_BIZ_BANNER
    <set >
      <if test="bannerRes != null" >
        BANNER_RES = #{bannerRes,jdbcType=CHAR},
      </if>
      <if test="bannerType != null" >
        BANNER_TYPE = #{bannerType,jdbcType=TINYINT},
      </if>
      <if test="objectType != null" >
        OBJECT_TYPE = #{objectType,jdbcType=TINYINT},
      </if>
      <if test="refId != null" >
        REF_ID = #{refId,jdbcType=BIGINT},
      </if>
      <if test="bannerContent != null" >
        BANNER_CONTENT = #{bannerContent,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        UPD_TIME = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where BANNER_ID = #{bannerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjd.ct.dal.dos.BannerModel" >
    update T_BIZ_BANNER
    set BANNER_RES = #{bannerRes,jdbcType=CHAR},
      BANNER_TYPE = #{bannerType,jdbcType=TINYINT},
      OBJECT_TYPE = #{objectType,jdbcType=TINYINT},
      REF_ID = #{refId,jdbcType=BIGINT},
      BANNER_CONTENT = #{bannerContent,jdbcType=VARCHAR},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      UPD_TIME = #{updTime,jdbcType=TIMESTAMP}
    where BANNER_ID = #{bannerId,jdbcType=BIGINT}
  </update>
  <sql id="MysqlPageSuffix" >
    <if test="page != null" >
      <![CDATA[ limit #{page.offset}, #{page.limit} ]]>
    </if>
  </sql>
</mapper>